header {
  display: flex;
  height: 4em;
  background-color: #003C71;
  align-items: center;
  font-size: 16px;
  nav {
    display: flex;
    align-items: center;
    height: 3em;
    margin-left: 2em;
    a {
      margin-right: 2em;
      text-decoration: none;
      color: ghostwhite;
    }
    a:hover{
      color: #FFB800;
      border-bottom-color: #FFB800;
      border-bottom-width: 5px;
      border-bottom-style: solid;
    }
  }
}
